cmake==3.22.4
cycler==0.11.0
decorator==4.4.2
dlib==19.24.0
editdistance==0.3.1
h5py==2.6.0
joblib==1.1.0
Keras==2.0.2
-e git+https://github.com/imfreeman1/CanRunningLipNet_in_phython3.6.9.git@12d63d7a784ce479c63fbd2af6b4ca9d5a5f244d#egg=lipnet
matplotlib==2.0.0
networkx==2.5.1
nltk==3.2.2
numpy==1.12.1
olefile==0.46
opencv-python==3.4.1.15
Pillow==4.1.0
protobuf==4.21.0
pyparsing==3.0.9
python-dateutil==2.6.0
pytz==2022.1
PyWavelets==1.0.3
PyYAML==6.0
scikit-image==0.13.0
scikit-learn==0.22.2.post1
scipy==0.19.1
six==1.16.0
sk-video==1.1.10
tensorflow-gpu==1.0.1
Theano==0.9.0
